{% extends 'base.html' %}



{% block content %}


<div class="m-2 ms-3">

    <h1>Add New Author</h1>

    <div class="mt-3">
        <table>
            <form method="post" id="add_author">
                {% csrf_token %}
                {{ form.as_table}}
            </form>
        </table>
        <div class="mt-3"> 
            <button class="btn btn-dark me-2 pe-3 ps-3" type="submit" form="add_author">Save</button>
            <a href="{% url 'list_author' %}" class="btn btn-light">Cancel</a>
        </div>
    </div>

</div>





{% endblock content %}